/*
	Name: Based on Smashing HTML5, modified by Mathieu Agopian
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	Author: Enrique Ramírez
	Autor URI: http://enrique-ramirez.com
*/

/* Imports */
@import url("reset.css");
@import url("pygment.css");
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin);

/* HTML5 tags */
header, section, footer, aside, nav, article, figure { display: block; }

/***** Global *****/
/* Body */
body {
    background-color: #F5F4EF;
    color: #000305;
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
}

/* Headings */
h1 { font-size: 2em }
h2 { font-size: 1.571em }	/* 22px */
h3 { font-size: 1.429em }	/* 20px */
h4 { font-size: 1.286em }	/* 18px */
h5 { font-size: 1.143em }	/* 16px */
h6 { font-size: 1em }		/* 14px */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', arial, serif;
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}
h3, h4, h5, h6 { margin-top: .8em; }
hr { border: 2px solid #EEEEEE; }

/* Anchors */
a:focus { outline: 1px dotted #c74350; }
a img { border: 0px; text-decoration: none; }
a, a:visited {
	color: #C74350;
	text-decoration: underline;
}
a:hover, a:active, a.active, .active>a { text-decoration: none; }
	
/* Paragraphs */
p { margin-bottom: 1.143em; }

/* Lists */
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
ul, ol { margin: 1em 0 1.5em 1.5em; }
.post-info {
    color: #aaa;
    font-size: 90%;
    margin-bottom: 20px;
}
.post-info p { margin-bottom: 0; }
#featured .post-info .author { display: inline; }
.readmore { float: right; }
dl { margin: 0 0 1.5em 0; }
dt { font-weight: bold; }
dd { margin-left: 1.5em; }
pre {
    background-color: #000;
    color: #fff;
    margin: 10px;
    overflow: auto;
    padding: 10px;
}

/* Quotes */
blockquote {
    font-style: italic;
    margin: 20px;
}

/* Tables */
table {
    margin: .5em auto 1.5em auto;
    width: 98%;
}
    th, td {
        border: thin solid grey;
        padding: .5em .4em;
    }
	thead th { text-align: left; }
	
/***** Layout *****/
img.align-right, figure.align-right {
    float: right;
    margin: 0 10px 20px 20px;
}
img.align-left, figure.align-left {
    float: left;
    margin: 0 20px 20px 10px;
}
img.align-center, figure.align-center {
    display: block;
    margin: 0 auto;
}

/***** Header *****/
/* Banner */
#banner h1 {
    font-size: 3.571em; 
    margin-bottom: 0.2em;
    text-align: center;
}
#banner h1 a {
    color: #000305;
    font-weight: bold;
    text-decoration: none;
}
#banner h1 a:hover, #banner h1 a:active { color: #C74350; }

/* Main Nav */
#banner nav {
    background-color: #000305;
    border-radius: 5px;
    font-size: 1.143em;
    height: 35px;
    margin: 0 auto 2em auto;
    width: 90%;
}

    #banner nav ul {
        list-style-type: none;
        margin: 0;
    }
    #banner nav li { float: left; }
        #banner nav a, #banner nav a:visited {
            color: #fff;
            display: inline-block;
            line-height: 25px;
            padding: 5px 1.5em;
            text-decoration: none;
        }
        #banner nav a:hover, #banner nav a:active,
        #banner nav .active a, #banner nav .active a:visited { background-color: #C74451; }
        #banner nav li:first-child a { border-radius: 5px 0 0 5px; }

/***** Content *****/
#featured, #content {
	background-color: #fff;
	border-radius: 10px;
    float: left;
    margin: 1em 10px 2em 7%;
	min-width: 600px;
	overflow: hidden;
	padding: 20px 20px;
	width: 60%;
}
#featured h1 a:hover, h1.entry-title a:hover { text-shadow: 1px 1px 1px #333; }

/***** Extras *****/
#sidebar {
	background-color: #fff;
	border-radius: 10px;
    float: right; 
    margin: 1em 7% 2em 10px;
	overflow: hidden;
	padding: 20px 20px;
	width: 15%;
}
    #sidebar ul {
        list-style-type: none;
        margin: 0;
    }
    #sidebar h2 { margin: .75em 0 .25em; }
    #sidebar .widget:first-child h2 { margin-top: 0; }
    #sidebar a {
        display: block;
        text-decoration: none;
        padding-left: .25em;
    }
    #sidebar li.active a, #sidebar a:hover, #sidebar a:active {
        background-color: #C74350;
        color: white;
    }
    
        /* Social Icons */
        .social a:before { margin-right: 2px; vertical-align: -3px; }
        .social a[href*='delicious.com']:before { content: url(../images/icons/delicious.png); }
        .social a[href*='digg.com']:before { content: url(../images/icons/digg.png); }
        .social a[href*='facebook.com']:before { content: url(../images/icons/facebook.png); }
        .social a[href*='atom.xml']:before, .social a[href*='rss.xml']:before { content: url(../images/icons/rss.png); }
        .social a[href*='jamendo.com']:before { content: url(../images/icons/jamendo.png); }
        .social a[href*='stackoverflow.com']:before { content: url(../images/icons/stackoverflow.png); }
        .social a[href*='twitter.com']:before { content: url(../images/icons/twitter.png); }
        .social a[href*='linkedin.com']:before { content: url(../images/icons/linkedin.png); }

/***** Footer *****/
#footer {
    clear: both; 
    text-align: center; 
}

/***** About *****/
#about {
	background: #fff;
	border-radius: 10px;
	font-style: normal;
	margin: 0 auto 2em auto;
	padding: 20px;
	width: 90%;
}

/***** Sections *****/
/* Blog */
.hentry {
	border-bottom: 1px solid #eee;
	padding: 1.5em 0;
}
li:last-child .hentry { border-bottom: none; }
.hentry img { display : none ; }
.entry-title {
    font-size: 3em;
    margin-bottom: 10px;
}
.entry-title a {
    color: #333;
    text-decoration: none;
}
	/* Content */
	.hentry footer { margin: 0 2em 2em 0; }
	/* Blog Index */
	#posts-list {
        list-style-type: none;
        margin: 0;
    }
	#posts-list footer {
        float: left;
        padding: 0.5em 0 0 10px;
		width: 190px;
	}
	/* Comments */
	#comments-list {list-style: none; margin: 0 1em;}
	#comments-list blockquote {
		background: #f8f8f8;
		border-radius: 5px;
		clear: both;
		font-style: normal;
		margin: 0;
		padding: 15px 20px;
	}
	#comments-list footer {color: #888; padding: .5em 1em 0 0; text-align: right;}
	#comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}
	/* Add a Comment */
	#add-comment label {clear: left; float: left; text-align: left; width: 150px;}
	#add-comment input[type='text'],
	#add-comment input[type='email'],
	#add-comment input[type='url'] {float: left; width: 200px;}
	#add-comment textarea {float: left; height: 150px; width: 495px;}
	#add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}
	#add-comment input[type='submit'] {float: right; margin: 0 .5em;}
	#add-comment * {margin-bottom: .5em;}
